*/[Ll]ibrary/

*/[Tt]emp/

/[Oo]bj/

/[Bb]uild/

/[Bb]uilds/

/Assets/AssetStoreTools/

/Assets/AddressableAssetsData/

/Assets/StreamingAssets/

/Packages/

/ProjectSettings/ProjectVersion.txt

/ProjectSettings/Packages/

/ProjectSettings/EditorBuildSettings.asset

/ProjectSettings/ProjectSettings.asset

/ProjectSettings/GraphicsSettings.asset

/ProjectSettings/InputManager.asset

/ProjectSettings/NavMeshAreas.asset

/ProjectSettings/TagManager.asset

/ProjectSettings/VFXManager.asset

/ProjectSettings/Physics2DSettings.asset

/ProjectSettings/PhysicsSettings.asset

/ProjectSettings/TimeManager.asset

/ProjectSettings/PresetManager.asset

/ProjectSettings/DynamicsManager.asset

/ProjectSettings/TextAsset/

/ProjectSettings/XRSettings.asset

/ProjectSettings/ClusterInputSettings.asset

/ProjectSettings/EditorSettings.asset

/ProjectSettings/AudioSettings.asset

/ProjectSettings/QualitySettings.asset

/ProjectSettings/NetworkManager.asset

/ProjectSettings/ProjectTemplate.asset

/ProjectSettings/RenderPipeline.asset

/ProjectSettings/UnityConnectSettings.asset

/ProjectSettings/UnityEditorAnalyticsSettings.asset

/ProjectSettings/UnityEditorAnalyticsSettings.asset

/ProjectSettings/UnityAnalyticsSettings.asset

/ProjectSettings/UnityConnectSettings.asset

/ProjectSettings/VulkanSettings.asset

/ProjectSettings/PackageManagerSettings.asset

/ProjectSettings/PackageResolutionSettings.asset

/ProjectSettings/ScriptingDefineSymbols.asset

/ProjectSettings/PostProcessing.asset



# Visual Studio / Rider

.vs/

*.csproj

*.sln

*.unityproj

*.suo

*.user

*.userprefs

*.pidb

*.booproj

*.sln.DotSettings.user

*.resharper

*.resharper.user

*.asset.meta

*.meta



# Other

*.DS_Store

